/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&display=swap');

/*Prompt*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Prompt:wght@600&display=swap');

/*Kanit*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&display=swap');

body{
  background-color: #0f0f0f;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background: #000000;
}

::-webkit-scrollbar-thumb{
  background: #8f8f8f;
  border-radius: 1vw;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.header{
  font-family: 'Kanit', sans-serif;
  background-image: linear-gradient(to right, #000000, #000000, #1d1d1d);
  width: 98.9vw;
  height: 4vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  border-bottom: 1px solid #1d1d1d;
  align-items: center;
  display: flex;
  position: fixed;
  z-index: 10000;
}

.mh{
    margin-left: 10vw;
    display: flex;
    width: 35vw;
    padding-left: 4vw;
    padding-right: 2vw;
    height: 50px;
    background: #00000000;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    transition: .7s;
}

.mh a{
  margin-left: 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

#pesquisar{
  width: 100%;
  margin-top: 0;
  border: none;
  border-radius: 12px;
  padding: 2.5vh;
  background: #0f0f0f;
  color: rgb(255, 255, 255);
  font-size: 12pt;
  /*box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.473);*/
  outline: none;
  box-sizing: border-box;
  transition: .5s;
}

#pesquisar::placeholder{
  color: #ffffffa4;
  font-size: 1vw;
  font-weight: 400;
}

#pesquisar:hover{
  border-radius: 15px;
  padding: 2.5vh;
  background: #1f1f1f;
}

.header > img{
    display: flex;
    margin: 0;
    height: 100%;
}

.header > h1{
    font-size: 4vh;
    display: flex;
    color: #8c52ff00;
    text-transform: uppercase;
    transition: .6s;
}

.header:hover  > h1{
    margin-left: 2vw;
    color: #e6e6e6;
}

.header > h1:hover{
    color: #ffffff;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container{
  display: flex;
  width: 98.9vw;
  height: 75vh;
}

.MENU{
  margin-top: 9vh;
  display: inline;
  width: 15vw;
  height: 100%;
  padding-bottom: 15vh;
}

.navg{
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 70px;
    background: #000000;
    /*box-shadow: 8px 0 0 #8C52FF;*/
    box-shadow: 0 0 20px #8C52FF,
    0 0 15px #8C52FF,
    0 0 30px #8C52FF,
    0 0 60px #8C52FF;
    border-left: 10px solid #000000;
    overflow-x: hidden;
    transition: .5s;
  }
  
  .navg:hover{
    width: 300px;
  }
  
  .navg ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 10vh;
  }
  
  .navg ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .navg ul li.active{
    background: #8C52FF;
  }
  
  .navg ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 5.5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #00000000;
    box-shadow: 15px 15px 0 #8C52FF;
  }
  
  .navg ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 5.5px;
    width: 30px;
    height: 30px;
    background: #00000000;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #8C52FF;
  }
  
  .navg ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(201, 201, 201);
    transition: .3s;
  }
  
  .navg ul li a:hover{
    color: rgb(255, 255, 255);
  }
  
  .navg ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
  }
  
  .navg li a .icon ion-icon{
    position: relative;
    font-size: 1.5em;
    z-index: 1;
  }
  
  .navg li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
  }
  
  .navg li.active a{
    color: #ffffff;
  }

  .navg .logout{
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    color: rgba(201, 201, 201, 0);
    font-size: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vw;
    padding-right: 5.5vw;
    margin-top: 30vh;
    margin-left: -130px;
    border: none;
    position: relative;
    display: none;
    line-height: 60px;
    white-space: nowrap;
    text-align: center;
    transition: .6s;
  }

  .navg:hover .logout:hover{
    color: #ffffff;
  }

  .navg:hover .logout{
    color: rgb(201, 201, 201);
    display: block;
  }

  /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

  .ctn{
    z-index: 1;
    padding-top: 12vh;
    margin-left: -2vw;
    height: 100%;
    width: 78vw;
    border-radius: 10px;
    display: inline;
  }

  .ctn hr{
    width: 70vw;
    height: 2px;
    background: #2b2b2b;
    border: none;
    margin-bottom: 6vh;
  }

  .conteudo{
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
    box-shadow: 0 15px 35px rgb(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.01);
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 5vh;
    height: 100%;
    width: 100%;
  }

  #msg{
    font-size: 1.5em;
    color:#ffffff;
  }

  .bx{
    padding: 6vh;
    width: 100%;
  }

  /*******************************************/

  #banner{
    overflow: hidden;
    height: 20vh;
    background: linear-gradient(to right, #00B6BD, #00B6BD, #5CE1E6);
    border-radius: 15px;
    border-top-right-radius: 0px;
    margin-bottom: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #banner img{
    margin: 0;
    height: 30vh;
    transition: .5s;
  }

  #banner:hover img{
    height: 35vh;
  }

  #banner h1{
    margin-left: -10vw;
    font-size: 1.5em;
    color: white;
    transition: .5s;
  }

  #banner:hover h1{
    font-size: 1.7em;
  }

  #psq{
    width: 32vw;
  }

  .pesq{
    font-size: 20px;
    text-decoration-line: none;
    background: white;
    padding: 20px 30px;
    border-radius: 20PX;
    color: #00B6BD;
    transition: .3s
  }

  .pesq:hover{
    letter-spacing:  1.5px;
  }

  /*
  <div class="search"><a class="user">Ainda não há nenhum usuário</a></div>
          <script type="text/javascript">
            function pesquisa(id){
                document.getElementsByClassName('user').style.display = "flex";
            }
          </script>
          
    .search{
    display: none;
    background: #1f1f1f;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .user{
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: #1f1f1f;
    color: #a7a7a7;
    transition: .5s;
  }

  .user:hover{
    background: #3f3f3f;
    color: #ffffff;
  }

  #pesquisar:hover .search{
    display: flex;
  }*/

/********************************/

#adicionar{
  overflow: hidden;
  height: 30vh;
  background: linear-gradient(to top right, #5500ff, #5500ff, #8C52FF);
  border-radius: 15px;
  margin-bottom: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#adicionar img{
  margin: 0;
  height: 35vh;
  transition: .5s;
}

#adicionar h1{
    margin-left: -10vw;
    font-size: 1.5em;
    color: white;
    transition: .5s;
}

#adicionar:hover h1{
  font-size: 1.7em;
}

#adicionar:hover img{
  height: 30vh;
}

#adicionar:hover #add{
  color: white;
}

#adicionar h2{
    margin-left: -10vw;
    font-size: 1em;
    color: white;
    transition: .5s;
}

  /*******************************/

  #btnAdd{
    margin: 50px;
    padding: 40px;
    padding-bottom: 30px;
    color: #c6a9ff;
    border-radius: 40%;
    font-size: 3em;
    transition: .3s;
  }
  
  #btnAdd:hover{
    background: #8C52FF;
  }

  /*/////////////////////////////////*/

  #ADDS{
    display: none;
    position: absolute;
    z-index: 20000;
    background-color: #0000006c;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    /*margin-top: -10vh;*/
  }
  
  .main-add{
    width: 85vw;
    height: 80vh;
    border-radius: 12px;
    background-image: linear-gradient(to bottom right, #000000, rgb(44, 44, 44));
    /*background-image: linear-gradient(to bottom right, #fff2, transparent);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.397);
  }

  #btnFechar{
    display: block;
    padding: 12px 25px;
    border-radius: 10vw;
    display: flex;
    text-decoration: none;
    color: rgb(201, 201, 201);
    transition: .3s;
  }
  
  #btnFechar:hover{
    background-color: #313131;
    color: rgb(255, 255, 255);
  }
  
  #btnFechar .icon{
    position: relative;
    display: block;
    min-width: 60px;
    line-height: 70px;
    text-align: center;
  }
  
  #btnFechar .icon ion-icon{
    position: relative;
    font-size: 1.5em;
  }
  
  .down-add{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .down-add h2{
    color: #5CE1E6;
  }
  
  .card-add{
    width: 90%;
    height: 30vh;
    display: flex;
    justify-content: center;
    padding: 30px 35px;
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.39);
  }

  .div{
    background-color: #15162200;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.bloco{
  width: 25%;
  height: 100%;
  padding-top: 5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  
  .card-add > h1{
    font-size: 1rem;
    color: #ffffff;
    font-weight: 1000;
    margin: 0;
    margin-bottom: 3vh;
  }

  .card-add .btn{
    text-transform: uppercase;
    position: relative;
    width: 200px;
    height: 80px;
    margin: 20px;
    margin-bottom: 10vh;
  }
  
  .card-add .btn #btnLed{
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgb(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.01);
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 30px;
    z-index: 1;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
  }
  
  .card-add .btn:hover #btnLed{
    letter-spacing: 3px;
  }
  
  .card-add .btn #btnLed::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
  }
  
  .card-add .btn:hover #btnLed::before{
    transform: skewX(45deg) translateX(175px);
  }
  
  .card-add .btn::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 50px;
    height: 10px;
    background: #5CE1E6;
    box-shadow: 0 0 5px #5CE1E6,
    0 0 15px #5CE1E6,
    0 0 30px #5CE1E6,
    0 0 60px #5CE1E6;
    border-radius: 10px;
    transition: 0.5s;
  }
  
  .card-add .btn:hover::before{
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }
  
  .card-add .btn::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 50px;
    height: 10px;
    background: #8C52FF;
    box-shadow: 0 0 5px #8C52FF,
    0 0 15px #8C52FF,
    0 0 30px #8C52FF,
    0 0 60px #8C52FF;
    border-radius: 10px;
    transition: 0.5s;
  }
  
  .card-add .btn:hover::after{
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
 